body {
    background-color: black;
    color: #ffffff;
}
.nav-bar{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.l2st{
    display: flex;
    justify-content: space-between;
}